<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="mediaFramework:ManualImport:Youtube" type="Sitecore.MediaFramework.Youtube.Commands.YoutubeImportContent,Sitecore.MediaFramework.Youtube"/>
    </commands>

    <!--<mediaFramework>
      <mediaImport>
        <importExecuters>
          <add name="import_youtube_videos" type="Sitecore.MediaFramework.Youtube.Import.VideoImporter, Sitecore.MediaFramework.Youtube"/>
        </importExecuters>
      </mediaImport>
      <scopeExecuteConfigurations>
        <add name="import_youtube_content" type="Sitecore.MediaFramework.Scopes.ScopeExecuteConfiguration, Sitecore.MediaFramework">
          <accountTemplate>{6A291448-617F-425B-9CCB-3A456C3F1DC2}</accountTemplate>
          <scope hint="list">
            <name>import_youtube_videos</name>
          </scope>
        </add>
      </scopeExecuteConfigurations>
    </mediaFramework>-->
  </sitecore>
</configuration>